<a href="https://colab.research.google.com/github/chloesung/Econometrics/blob/main/2.%20Instrument%20Variables%20Approach/Wooldridge/Wooldridge_Ch15(3).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import

In [1]:
pip install wooldridge

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting wooldridge
  Downloading wooldridge-0.4.4-py3-none-any.whl (5.1 MB)
     |████████████████████████████████| 5.1 MB 8.7 MB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from wooldridge) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->wooldridge) (2022.2.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas->wooldridge) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->wooldridge) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->wooldridge) (1.15.0)
Installing collected packages: wooldridge
Successfully installed wooldridge-0.4.4

In [2]:
pip install linearmodels

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting linearmodels
  Downloading linearmodels-4.25-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.5 MB)
     |████████████████████████████████| 1.5 MB 8.4 MB/s
Collecting property-cached>=1.6.3
  Downloading property_cached-1.6.4-py2.py3-none-any.whl (7.8 kB)
Collecting pyhdfe>=0.1
  Downloading pyhdfe-0.1.0-py3-none-any.whl (18 kB)
Collecting mypy-extensions>=0.4
  Downloading mypy_extensions-0.4.3-py2.py3-none-any.whl (4.5 kB)
Requirement already satisfied: scipy>=1.2 in /usr/local/lib/python3.7/dist-packages (from linearmodels) (1.7.3)
Requirement already satisfied: patsy in /usr/local/lib/python3.7/dist-packages (from linearmodels) (0.5.2)
Requirement already satisfied: Cython>=0.29.21 in /usr/local/lib/python3.7/dist-packages (from linearmodels) (0.29.32)
Requirement already satisfied: statsmodels>=0.11 in /usr/local/lib/python3.7/dist-packages (from linearmodels) (0.12.2)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from linearmodels) (1.3.5)
Collecting formulaic
  Downloading formulaic-0.5.0-py3-none-any.whl (76 kB)
     |████████████████████████████████| 76 kB 6.7 MB/s
Requirement already satisfied: numpy>=1.16 in /usr/local/lib/python3.7/dist-packages (from linearmodels) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->linearmodels) (2022.2.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->linearmodels) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->linearmodels) (1.15.0)
Collecting graphlib-backport>=1.0.0
  Downloading graphlib_backport-1.0.3-py3-none-any.whl (5.1 kB)
Requirement already satisfied: astor>=0.8 in /usr/local/lib/python3.7/dist-packages (from formulaic->linearmodels) (0.8.1)
Requirement already satisfied: cached-property>=1.3.0 in /usr/local/lib/python3.7/dist-packages (from formulaic->linearmodels) (1.5.2)
Collecting interface-meta>=1.2.0
  Downloading interface_meta-1.3.0-py3-none-any.whl (14 kB)
Collecting typing-extensions>=4.2.0
  Downloading typing_extensions-4.3.0-py3-none-any.whl (25 kB)
Requirement already satisfied: wrapt>=1.0 in /usr/local/lib/python3.7/dist-packages (from formulaic->linearmodels) (1.14.1)
Installing collected packages: typing-extensions, interface-meta, graphlib-backport, pyhdfe, property-cached, mypy-extensions, formulaic, linearmodels
  Attempting uninstall: typing-extensions
    Found existing installation: typing-extensions 4.1.1
    Uninstalling typing-extensions-4.1.1:
      Successfully uninstalled typing-extensions-4.1.1
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
thinc 8.1.0 requires typing-extensions<4.2.0,>=3.7.4.1; python_version < "3.8", but you have typing-extensions 4.3.0 which is incompatible.
spacy 3.4.1 requires typing-extensions<4.2.0,>=3.7.4; python_version < "3.8", but you have typing-extensions 4.3.0 which is incompatible.
Successfully installed formulaic-0.5.0 graphlib-backport-1.0.3 interface-meta-1.3.0 linearmodels-4.25 mypy-extensions-0.4.3 property-cached-1.6.4 pyhdfe-0.1.0 typing-extensions-4.3.0

In [3]:
import pandas as pd
import numpy as np
import re
import math

import seaborn as sns
sns.set_palette("pastel")
sns.set(style="whitegrid")
import warnings
import matplotlib.pyplot as plt
pal = sns.color_palette('Set1')

from scipy.stats import t
from statsmodels.formula.api import ols
from statsmodels.api import add_constant
pd.options.display.float_format = '{:.5f}'.format
plt.rcParams['axes.unicode_minus'] = False
from linearmodels import IV2SLS
import wooldridge

warnings.filterwarnings(action='ignore')
get_ipython().run_line_magic('config', "InlineBackend.figure_format='retina' #화질 좋게 해주기")

# 1. Effect of Education on Fertility

## a) EDA

In [18]:
# Data Import
df = wooldridge.data('fertil1')[['kids','educ','age','agesq','black','east','northcen','west','farm',
                                 'othrural','town','smcity','y74','y76','y78','y80','y82','y84','meduc','feduc']]
df

,kids,educ,age,agesq,black,east,northcen,west,farm,othrural,town,smcity,y74,y76,y78,y80,y82,y84,meduc,feduc
0,4,12,48,2304,0,0,1,0,0,0,0,0,0,0,0,0,0,0,8,8
1,3,17,46,2116,0,0,0,0,0,1,0,0,0,0,0,0,0,0,8,18
2,2,12,53,2809,0,0,1,0,0,1,0,0,0,0,0,0,0,0,7,8
3,2,12,42,1764,0,0,1,0,0,0,1,0,0,0,0,0,0,0,12,10
4,2,12,51,2601,0,0,0,0,1,0,0,0,0,0,0,0,0,0,3,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1124,1,12,41,1681,0,0,0,1,0,0,1,0,0,0,0,0,0,1,12,12
1125,0,19,42,1764,0,0,0,1,0,0,1,0,0,0,0,0,0,1,10,15
1126,3,15,35,1225,0,0,0,1,0,0,1,0,0,0,0,0,0,1,12,10
1127,2,12,46,2116,0,0,1,0,1,0,0,0,0,0,0,0,0,1,12,12
1128,2,12,46,2116,0,0,0,1,1,0,0,0,0,0,0,0,0,1,6,8

- ***educ***: endogenous variable
- ***meduc***, ***feduc***: instrument for *educ*

In [24]:
# Testing for Endogeneity

# Step 1
res = ols('educ ~ age + agesq + black + east + northcen + west + farm + othrural + town + smcity + y74 + y76 + y78 + y80 + y82 + y84 + meduc + feduc', data = df).fit()
resid = res.resid

# Step 2
res = ols('kids ~ educ + age + agesq + black + east + northcen + west + farm + othrural + town + smcity + y74 + y76 + y78 + y80 + y82 + y84 + resid', data = df).fit()
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   kids   R-squared:                       0.130
Model:                            OLS   Adj. R-squared:                  0.116
Method:                 Least Squares   F-statistic:                     9.206
Date:                Mon, 05 Sep 2022   Prob (F-statistic):           6.17e-24
Time:                        18:33:10   Log-Likelihood:                -2091.0
No. Observations:                1129   AIC:                             4220.
Df Residuals:                    1110   BIC:                             4316.
Df Model:                          18
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -7.2412      3.135     -2.310      0.021     -13.392      -1.090
educ          -0.1527      0.039     -3.896      0.000      -0.230      -0.076
age            0.5236      0.139      3.768      0.000       0.251       0.796
agesq         -0.0057      0.002     -3.642      0.000      -0.009      -0.003
black          1.0730      0.174      6.180      0.000       0.732       1.414
east           0.2286      0.134      1.708      0.088      -0.034       0.491
northcen       0.3744      0.122      3.069      0.002       0.135       0.614
west           0.2076      0.168      1.239      0.216      -0.121       0.536
farm          -0.0770      0.151     -0.509      0.611      -0.374       0.220
othrural      -0.1952      0.181     -1.076      0.282      -0.551       0.161
town           0.0818      0.125      0.657      0.512      -0.163       0.326
smcity         0.2125      0.160      1.325      0.185      -0.102       0.527
y74            0.2721      0.173      1.574      0.116      -0.067       0.611
y76           -0.0945      0.179     -0.528      0.598      -0.446       0.257
y78           -0.0573      0.182     -0.314      0.754      -0.415       0.301
y80           -0.0532      0.185     -0.288      0.773      -0.415       0.309
y82           -0.4962      0.176     -2.812      0.005      -0.843      -0.150
y84           -0.5214      0.178     -2.932      0.003      -0.870      -0.172
resid          0.0311      0.044      0.702      0.483      -0.056       0.118
==============================================================================
Omnibus:                        9.713   Durbin-Watson:                   2.010
Prob(Omnibus):                  0.008   Jarque-Bera (JB):                9.902
Skew:                           0.226   Prob(JB):                      0.00708
Kurtosis:                       2.921   Cond. No.                     1.35e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.35e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

- $p$ value = .483
- $t$ value = .702
- Thus, ***educ*** is indeed endogenous

## b) OLS

In [19]:
# Regression
res = ols('kids ~ educ + age + agesq + black + east + northcen + west + farm + othrural + town + smcity + y74 + y76 + y78 + y80 + y82 + y84', data = df).fit()
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   kids   R-squared:                       0.130
Model:                            OLS   Adj. R-squared:                  0.116
Method:                 Least Squares   F-statistic:                     9.723
Date:                Mon, 05 Sep 2022   Prob (F-statistic):           2.42e-24
Time:                        18:18:39   Log-Likelihood:                -2091.2
No. Observations:                1129   AIC:                             4218.
Df Residuals:                    1111   BIC:                             4309.
Df Model:                          17
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -7.7425      3.052     -2.537      0.011     -13.730      -1.755
educ          -0.1284      0.018     -6.999      0.000      -0.164      -0.092
age            0.5321      0.138      3.845      0.000       0.261       0.804
agesq         -0.0058      0.002     -3.710      0.000      -0.009      -0.003
black          1.0757      0.174      6.198      0.000       0.735       1.416
east           0.2173      0.133      1.637      0.102      -0.043       0.478
northcen       0.3631      0.121      3.004      0.003       0.126       0.600
west           0.1976      0.167      1.184      0.237      -0.130       0.525
farm          -0.0526      0.147     -0.357      0.721      -0.341       0.236
othrural      -0.1629      0.175     -0.928      0.353      -0.507       0.181
town           0.0844      0.125      0.677      0.498      -0.160       0.329
smcity         0.2119      0.160      1.322      0.187      -0.103       0.526
y74            0.2682      0.173      1.553      0.121      -0.071       0.607
y76           -0.0974      0.179     -0.544      0.587      -0.449       0.254
y78           -0.0687      0.182     -0.378      0.706      -0.425       0.288
y80           -0.0713      0.183     -0.390      0.697      -0.430       0.287
y82           -0.5225      0.172     -3.030      0.003      -0.861      -0.184
y84           -0.5452      0.175     -3.124      0.002      -0.888      -0.203
==============================================================================
Omnibus:                        9.775   Durbin-Watson:                   2.011
Prob(Omnibus):                  0.008   Jarque-Bera (JB):                9.966
Skew:                           0.227   Prob(JB):                      0.00685
Kurtosis:                       2.920   Cond. No.                     1.32e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.32e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

- $\beta_educ = -.153$ 
- $se = .018$

## c) IV

In [20]:
df = add_constant(df, has_constant="add")
dep = df['kids']
exog = df[['const','age','agesq','black','east','northcen','west','farm', 'othrural','town','smcity','y74','y76','y78','y80','y82','y84']]
endog = df['educ']
instr = df[['meduc','feduc']]

resultIV = IV2SLS(dep, exog, endog, instr).fit() 

print(resultIV.summary)

                          IV-2SLS Estimation Summary
==============================================================================
Dep. Variable:                   kids   R-squared:                      0.1281
Estimator:                    IV-2SLS   Adj. R-squared:                 0.1148
No. Observations:                1129   F-statistic:                    150.13
Date:                Mon, Sep 05 2022   P-value (F-stat)                0.0000
Time:                        18:18:42   Distribution:                 chi2(17)
Cov. Estimator:                robust

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
const         -7.2412     3.1890    -2.2707     0.0232     -13.491     -0.9910
age            0.5236     0.1395     3.7540     0.0002      0.2502      0.7969
agesq         -0.0057     0.0016    -3.6113     0.0003     -0.0088     -0.0026
black          1.0730     0.1995     5.3789     0.0000      0.6820      1.4639
east           0.2286     0.1281     1.7838     0.0745     -0.0226      0.4797
northcen       0.3744     0.1172     3.1958     0.0014      0.1448      0.6040
west           0.2076     0.1617     1.2838     0.1992     -0.1094      0.5246
farm          -0.0770     0.1490    -0.5168     0.6053     -0.3690      0.2150
othrural      -0.1952     0.1857    -1.0515     0.2930     -0.5592      0.1687
town           0.0818     0.1276     0.6412     0.5214     -0.1682      0.3319
smcity         0.2125     0.1527     1.3912     0.1642     -0.0869      0.5119
y74            0.2721     0.1870     1.4556     0.1455     -0.0943      0.6386
y76           -0.0945     0.1991    -0.4748     0.6349     -0.4849      0.2958
y78           -0.0573     0.1967    -0.2911     0.7710     -0.4428      0.3282
y80           -0.0532     0.1949    -0.2732     0.7847     -0.4353      0.3288
y82           -0.4962     0.1899    -2.6127     0.0090     -0.8685     -0.1240
y84           -0.5214     0.1868    -2.7904     0.0053     -0.8876     -0.1552
educ          -0.1527     0.0402    -3.7949     0.0001     -0.2316     -0.0739
==============================================================================

Endogenous: educ
Instruments: meduc, feduc
Robust Covariance (Heteroskedastic)
Debiased: False

- $\beta_educ = -.153$ 
- $se = .041$
- The OLS and 2SLS estimates of $\beta_{educ}$ are *not statistically* different.
- Therefore, in this case, we conclude that the difference between 2SLS and OLS could be entirely due to sampling error.