<a href="https://colab.research.google.com/github/chloesung/Econometrics/blob/main/2.%20Instrument%20Variables%20Approach/Wooldridge/Wooldridge_Ch15(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import

In [1]:
pip install wooldridge

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: wooldridge in /usr/local/lib/python3.7/dist-packages (0.4.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from wooldridge) (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas->wooldridge) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->wooldridge) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->wooldridge) (2022.2.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->wooldridge) (1.15.0)

In [2]:
pip install linearmodels

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: linearmodels in /usr/local/lib/python3.7/dist-packages (4.25)
Requirement already satisfied: scipy>=1.2 in /usr/local/lib/python3.7/dist-packages (from linearmodels) (1.7.3)
Requirement already satisfied: mypy-extensions>=0.4 in /usr/local/lib/python3.7/dist-packages (from linearmodels) (0.4.3)
Requirement already satisfied: Cython>=0.29.21 in /usr/local/lib/python3.7/dist-packages (from linearmodels) (0.29.32)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from linearmodels) (1.3.5)
Requirement already satisfied: patsy in /usr/local/lib/python3.7/dist-packages (from linearmodels) (0.5.2)
Requirement already satisfied: property-cached>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from linearmodels) (1.6.4)
Requirement already satisfied: formulaic in /usr/local/lib/python3.7/dist-packages (from linearmodels) (0.4.0)
Requirement already satisfied: statsmodels>=0.11 in /usr/local/lib/python3.7/dist-packages (from linearmodels) (0.12.2)
Requirement already satisfied: pyhdfe>=0.1 in /usr/local/lib/python3.7/dist-packages (from linearmodels) (0.1.0)
Requirement already satisfied: numpy>=1.16 in /usr/local/lib/python3.7/dist-packages (from linearmodels) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->linearmodels) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->linearmodels) (2022.2.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->linearmodels) (1.15.0)
Requirement already satisfied: wrapt>=1.0 in /usr/local/lib/python3.7/dist-packages (from formulaic->linearmodels) (1.14.1)
Requirement already satisfied: graphlib-backport<2.0.0,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from formulaic->linearmodels) (1.0.3)
Requirement already satisfied: interface-meta<2.0.0,>=1.2.0 in /usr/local/lib/python3.7/dist-packages (from formulaic->linearmodels) (1.3.0)
Requirement already satisfied: astor>=0.8 in /usr/local/lib/python3.7/dist-packages (from formulaic->linearmodels) (0.8.1)
Requirement already satisfied: typing-extensions<5.0.0,>=4.2.0 in /usr/local/lib/python3.7/dist-packages (from formulaic->linearmodels) (4.3.0)
Requirement already satisfied: cached_property>=1.3.0 in /usr/local/lib/python3.7/dist-packages (from formulaic->linearmodels) (1.5.2)

In [3]:
import pandas as pd
import numpy as np
import re
import math

import seaborn as sns
sns.set_palette("pastel")
sns.set(style="whitegrid")
import warnings
import matplotlib.pyplot as plt
pal = sns.color_palette('Set1')

from scipy.stats import t
from statsmodels.formula.api import ols
from statsmodels.api import add_constant
pd.options.display.float_format = '{:.5f}'.format
plt.rcParams['axes.unicode_minus'] = False
from linearmodels import IV2SLS
import wooldridge

warnings.filterwarnings(action='ignore')
get_ipython().run_line_magic('config', "InlineBackend.figure_format='retina' #화질 좋게 해주기")

# 1. College Proximity

## a) EDA

In [4]:
# Data Import
df = wooldridge.data('wage2')[['lwage', 'educ', 'exper', 'tenure', 'married', 'south', 'urban', 'black', 'IQ', 'KWW']]
df

      lwage  educ  exper  tenure  married  south  urban  black   IQ  KWW
0   6.64509    12     11       2        1      0      1      0   93   35
1   6.69456    18     11      16        1      0      1      0  119   41
2   6.71538    14     11       9        1      0      1      0  108   46
3   6.47697    12     13       7        1      0      1      0   96   32
4   6.33150    11     14       5        1      0      1      0   74   27
..      ...   ...    ...     ...      ...    ...    ...    ...  ...  ...
930 6.25383    16      6       1        1      1      0      1   79   28
931 7.09174    13     10       3        1      1      1      0  102   32
932 6.28786    12     12      10        1      1      0      1   77   22
933 6.77194    12     12      12        1      1      0      0  109   25
934 6.90776    12     17      18        1      1      0      0  107   32

[935 rows x 10 columns]

- *KWW* is an instrument for *IQ*

## b) OLS

In [5]:
# Regression
res = ols('lwage ~ educ + exper + tenure + married + south + urban + black + IQ', data = df).fit()
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  lwage   R-squared:                       0.263
Model:                            OLS   Adj. R-squared:                  0.256
Method:                 Least Squares   F-statistic:                     41.27
Date:                Wed, 24 Aug 2022   Prob (F-statistic):           1.52e-56
Time:                        14:33:44   Log-Likelihood:                -375.09
No. Observations:                 935   AIC:                             768.2
Df Residuals:                     926   BIC:                             811.7
Df Model:                           8
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      5.1764      0.128     40.441      0.000       4.925       5.428
educ           0.0544      0.007      7.853      0.000       0.041       0.068
exper          0.0141      0.003      4.469      0.000       0.008       0.020
tenure         0.0114      0.002      4.671      0.000       0.007       0.016
married        0.1998      0.039      5.148      0.000       0.124       0.276
south         -0.0802      0.026     -3.054      0.002      -0.132      -0.029
urban          0.1819      0.027      6.791      0.000       0.129       0.235
black         -0.1431      0.039     -3.624      0.000      -0.221      -0.066
IQ             0.0036      0.001      3.589      0.000       0.002       0.006
==============================================================================
Omnibus:                       43.456   Durbin-Watson:                   1.820
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               99.739
Skew:                          -0.248   Prob(JB):                     2.20e-22
Kurtosis:                       4.521   Cond. No.                     1.13e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.13e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

- $\beta_1$ implies an almost 5.4% return for another year of education.

## c) IV

In [6]:
df = add_constant(df, has_constant="add")
dep = df['lwage']
exog = df[['const','educ', 'exper', 'tenure', 'married', 'south', 'urban', 'black']]
endog = df['IQ']
instr = df['KWW']

resultIV = IV2SLS(dep, exog, endog, instr).fit() 

print(resultIV.summary)

                          IV-2SLS Estimation Summary
==============================================================================
Dep. Variable:                  lwage   R-squared:                      0.1900
Estimator:                    IV-2SLS   Adj. R-squared:                 0.1830
No. Observations:                 935   F-statistic:                    356.33
Date:                Wed, Aug 24 2022   P-value (F-stat)                0.0000
Time:                        14:33:44   Distribution:                  chi2(8)
Cov. Estimator:                robust

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
const          4.5925     0.3501     13.117     0.0000      3.9063      5.2786
educ           0.0250     0.0187     1.3410     0.1799     -0.0116      0.0616
exper          0.0144     0.0034     4.2234     0.0000      0.0077      0.0211
tenure         0.0105     0.0028     3.7258     0.0002      0.0050      0.0160
married        0.2007     0.0404     4.9616     0.0000      0.1214      0.2800
south         -0.0516     0.0339    -1.5201     0.1285     -0.1180      0.0149
urban          0.1767     0.0274     6.4470     0.0000      0.1230      0.2304
black         -0.0226     0.0798    -0.2826     0.7775     -0.1790      0.1339
IQ             0.0130     0.0055     2.3835     0.0171      0.0023      0.0238
==============================================================================

Endogenous: IQ
Instruments: KWW
Robust Covariance (Heteroskedastic)
Debiased: False

- The coefficient on $educ$ is .025 ($se = .018.$)
- This is a low estimate, and it is not statistically different from zero.
- This is a puzzling finding, and it suggests that one of our assumptions fails; perhaps $e_1$ and $e_2$ are correlated.