<a href="https://colab.research.google.com/github/chloesung/Econometrics/blob/main/1.%20Panel%20Data%20Methods/Wooldridge/Wooldridge_Ch14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import

In [1]:
pip install wooldridge

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting wooldridge
  Downloading wooldridge-0.4.4-py3-none-any.whl (5.1 MB)
     |████████████████████████████████| 5.1 MB 5.2 MB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from wooldridge) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->wooldridge) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->wooldridge) (2022.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas->wooldridge) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->wooldridge) (1.15.0)
Installing collected packages: wooldridge
Successfully installed wooldridge-0.4.4

In [2]:
pip install linearmodels

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting linearmodels
  Downloading linearmodels-4.25-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.5 MB)
     |████████████████████████████████| 1.5 MB 5.3 MB/s
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from linearmodels) (1.3.5)
Collecting statsmodels>=0.11
  Downloading statsmodels-0.13.2-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (9.8 MB)
     |████████████████████████████████| 9.8 MB 34.0 MB/s
Collecting property-cached>=1.6.3
  Downloading property_cached-1.6.4-py2.py3-none-any.whl (7.8 kB)
Collecting formulaic
  Downloading formulaic-0.3.4-py3-none-any.whl (68 kB)
     |████████████████████████████████| 68 kB 4.6 MB/s
Requirement already satisfied: scipy>=1.2 in /usr/local/lib/python3.7/dist-packages (from linearmodels) (1.7.3)
Collecting pyhdfe>=0.1
  Downloading pyhdfe-0.1.0-py3-none-any.whl (18 kB)
Requirement already satisfied: patsy in /usr/local/lib/python3.7/dist-packages (from linearmodels) (0.5.2)
Collecting mypy-extensions>=0.4
  Downloading mypy_extensions-0.4.3-py2.py3-none-any.whl (4.5 kB)
Requirement already satisfied: Cython>=0.29.21 in /usr/local/lib/python3.7/dist-packages (from linearmodels) (0.29.30)
Requirement already satisfied: numpy>=1.16 in /usr/local/lib/python3.7/dist-packages (from linearmodels) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->linearmodels) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->linearmodels) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->linearmodels) (1.15.0)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.7/dist-packages (from statsmodels>=0.11->linearmodels) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=21.3->statsmodels>=0.11->linearmodels) (3.0.9)
Collecting interface-meta<2.0.0,>=1.2.0
  Downloading interface_meta-1.3.0-py3-none-any.whl (14 kB)
Requirement already satisfied: wrapt>=1.0 in /usr/local/lib/python3.7/dist-packages (from formulaic->linearmodels) (1.14.1)
Requirement already satisfied: astor>=0.8 in /usr/local/lib/python3.7/dist-packages (from formulaic->linearmodels) (0.8.1)
Installing collected packages: interface-meta, statsmodels, pyhdfe, property-cached, mypy-extensions, formulaic, linearmodels
  Attempting uninstall: statsmodels
    Found existing installation: statsmodels 0.10.2
    Uninstalling statsmodels-0.10.2:
      Successfully uninstalled statsmodels-0.10.2
Successfully installed formulaic-0.3.4 interface-meta-1.3.0 linearmodels-4.25 mypy-extensions-0.4.3 property-cached-1.6.4 pyhdfe-0.1.0 statsmodels-0.13.2

In [3]:
import pandas as pd
import numpy as np
import re
import math

import seaborn as sns
sns.set_palette("pastel")
sns.set(style="whitegrid")
import warnings
import matplotlib.pyplot as plt
pal = sns.color_palette('Set1')

from scipy.stats import t
from statsmodels.formula.api import ols
pd.options.display.float_format = '{:.5f}'.format
plt.rcParams['axes.unicode_minus'] = False
import wooldridge
from linearmodels import PanelOLS
from linearmodels import RandomEffects

warnings.filterwarnings(action='ignore')
plt.rc('font', family='NanumBarunGothic') 
get_ipython().run_line_magic('config', "InlineBackend.figure_format='retina' #화질 좋게 해주기")

# Wage

## a) EDA

In [4]:
# Data Import
df = wooldridge.data('wagepan')[['nr','year','lwage','educ','black','hisp',
                                 'exper', 'expersq', 'union','married',
                                 'd81','d82','d83','d84','d85','d86','d87']]
df

,nr,year,lwage,educ,black,hisp,exper,expersq,union,married,d81,d82,d83,d84,d85,d86,d87
0,13,1980,1.19754,14,0,0,1,1,0,0,0,0,0,0,0,0,0
1,13,1981,1.85306,14,0,0,2,4,1,0,1,0,0,0,0,0,0
2,13,1982,1.34446,14,0,0,3,9,0,0,0,1,0,0,0,0,0
3,13,1983,1.43321,14,0,0,4,16,0,0,0,0,1,0,0,0,0
4,13,1984,1.56813,14,0,0,5,25,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4355,12548,1983,1.59188,9,0,0,8,64,0,1,0,0,1,0,0,0,0
4356,12548,1984,1.21254,9,0,0,9,81,1,1,0,0,0,1,0,0,0
4357,12548,1985,1.76596,9,0,0,10,100,0,1,0,0,0,0,1,0,0
4358,12548,1986,1.74589,9,0,0,11,121,1,1,0,0,0,0,0,1,0
4359,12548,1987,1.46654,9,0,0,12,144,1,1,0,0,0,0,0,0,1

- **time-constant:** $educ, black, hisp$
- **time-varying:** $exper, exper^2,  union, married$

## b) Pooled OLS
- $\beta_1$ should be negative.

In [5]:
# Regression
res = ols('lwage ~  educ + black + hisp + exper + expersq + married + union + d81 + d82 + d83 + d84 + d85 + d86 + d87', data = df).fit()
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  lwage   R-squared:                       0.189
Model:                            OLS   Adj. R-squared:                  0.187
Method:                 Least Squares   F-statistic:                     72.46
Date:                Tue, 26 Jul 2022   Prob (F-statistic):          7.25e-186
Time:                        07:28:40   Log-Likelihood:                -2982.0
No. Observations:                4360   AIC:                             5994.
Df Residuals:                    4345   BIC:                             6090.
Df Model:                          14
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.0921      0.078      1.176      0.240      -0.061       0.246
educ           0.0913      0.005     17.442      0.000       0.081       0.102
black         -0.1392      0.024     -5.905      0.000      -0.185      -0.093
hisp           0.0160      0.021      0.770      0.441      -0.025       0.057
exper          0.0672      0.014      4.909      0.000       0.040       0.094
expersq       -0.0024      0.001     -2.941      0.003      -0.004      -0.001
married        0.1083      0.016      6.900      0.000       0.077       0.139
union          0.1825      0.017     10.635      0.000       0.149       0.216
d81            0.0583      0.030      1.921      0.055      -0.001       0.118
d82            0.0628      0.033      1.890      0.059      -0.002       0.128
d83            0.0620      0.037      1.692      0.091      -0.010       0.134
d84            0.0905      0.040      2.257      0.024       0.012       0.169
d85            0.1092      0.043      2.520      0.012       0.024       0.194
d86            0.1420      0.046      3.058      0.002       0.051       0.233
d87            0.1738      0.049      3.517      0.000       0.077       0.271
==============================================================================
Omnibus:                     1275.556   Durbin-Watson:                   0.998
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            10615.542
Skew:                          -1.157   Prob(JB):                         0.00
Kurtosis:                      10.286   Cond. No.                         929.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

## c) Random Effects
[linearmodels: random effect](https://bashtage.github.io/linearmodels/panel/examples/examples.html)

In [6]:
# Multi-indexing
df.index = [df.iloc[:,0], df.iloc[:,1]]
df

               nr  year   lwage  educ  black  hisp  exper  expersq  union  \
nr    year
13    1980     13  1980 1.19754    14      0     0      1        1      0
      1981     13  1981 1.85306    14      0     0      2        4      1
      1982     13  1982 1.34446    14      0     0      3        9      0
      1983     13  1983 1.43321    14      0     0      4       16      0
      1984     13  1984 1.56813    14      0     0      5       25      0
...           ...   ...     ...   ...    ...   ...    ...      ...    ...
12548 1983  12548  1983 1.59188     9      0     0      8       64      0
      1984  12548  1984 1.21254     9      0     0      9       81      1
      1985  12548  1985 1.76596     9      0     0     10      100      0
      1986  12548  1986 1.74589     9      0     0     11      121      1
      1987  12548  1987 1.46654     9      0     0     12      144      1

            married  d81  d82  d83  d84  d85  d86  d87
nr    year
13    1980        0    0    0    0    0    0    0    0
      1981        0    1    0    0    0    0    0    0
      1982        0    0    1    0    0    0    0    0
      1983        0    0    0    1    0    0    0    0
      1984        0    0    0    0    1    0    0    0
...             ...  ...  ...  ...  ...  ...  ...  ...
12548 1983        1    0    0    1    0    0    0    0
      1984        1    0    0    0    1    0    0    0
      1985        1    0    0    0    0    1    0    0
      1986        1    0    0    0    0    0    1    0
      1987        1    0    0    0    0    0    0    1

[4360 rows x 17 columns]

In [7]:
# Exogenous Variables
exog_vars = ['educ', 'black', 'hisp', 'exper', 'expersq', 'married', 'union', 'd81', 'd82', 'd83', 'd84', 'd85', 'd86', 'd87']
exog = df[exog_vars]
exog['const'] = 1

In [8]:
# Run regression
mod = RandomEffects(df.lwage, exog)
re_res = mod.fit()
print(re_res)

                        RandomEffects Estimation Summary
================================================================================
Dep. Variable:                  lwage   R-squared:                        0.1806
Estimator:              RandomEffects   R-squared (Between):              0.1853
No. Observations:                4360   R-squared (Within):               0.1799
Date:                Tue, Jul 26 2022   R-squared (Overall):              0.1828
Time:                        07:28:40   Log-likelihood                   -1622.5
Cov. Estimator:            Unadjusted
                                        F-statistic:                      68.409
Entities:                         545   P-value                           0.0000
Avg Obs:                       8.0000   Distribution:                 F(14,4345)
Min Obs:                       8.0000
Max Obs:                       8.0000   F-statistic (robust):             68.409
                                        P-value                           0.0000
Time periods:                       8   Distribution:                 F(14,4345)
Avg Obs:                       545.00
Min Obs:                       545.00
Max Obs:                       545.00

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
educ           0.0919     0.0107     8.5744     0.0000      0.0709      0.1129
black         -0.1394     0.0480    -2.9054     0.0037     -0.2334     -0.0453
hisp           0.0217     0.0428     0.5078     0.6116     -0.0622      0.1057
exper          0.1058     0.0154     6.8706     0.0000      0.0756      0.1361
expersq       -0.0047     0.0007    -6.8623     0.0000     -0.0061     -0.0034
married        0.0638     0.0168     3.8035     0.0001      0.0309      0.0967
union          0.1059     0.0179     5.9289     0.0000      0.0709      0.1409
d81            0.0404     0.0247     1.6362     0.1019     -0.0080      0.0889
d82            0.0309     0.0324     0.9519     0.3412     -0.0327      0.0944
d83            0.0202     0.0417     0.4840     0.6284     -0.0616      0.1020
d84            0.0430     0.0515     0.8350     0.4037     -0.0580      0.1440
d85            0.0577     0.0615     0.9383     0.3482     -0.0629      0.1782
d86            0.0918     0.0716     1.2834     0.1994     -0.0485      0.2321
d87            0.1348     0.0817     1.6504     0.0989     -0.0253      0.2950
const          0.0234     0.1514     0.1546     0.8771     -0.2735      0.3203
==============================================================================

## d) Fixed effects

In [9]:
# Exogenous Variables
exog_vars = ['expersq', 'married', 'union', 'd81', 'd82', 'd83', 'd84', 'd85', 'd86', 'd87']
exog = df[exog_vars]
exog['const'] = 1

In [10]:
# Run regression
mod = PanelOLS(df.lwage, exog, entity_effects=True)
fe_res = mod.fit()
print(fe_res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                  lwage   R-squared:                        0.1806
Estimator:                   PanelOLS   R-squared (Between):             -0.0052
No. Observations:                4360   R-squared (Within):               0.1806
Date:                Tue, Jul 26 2022   R-squared (Overall):              0.0807
Time:                        07:28:40   Log-likelihood                   -1324.8
Cov. Estimator:            Unadjusted
                                        F-statistic:                      83.851
Entities:                         545   P-value                           0.0000
Avg Obs:                       8.0000   Distribution:                 F(10,3805)
Min Obs:                       8.0000
Max Obs:                       8.0000   F-statistic (robust):             83.851
                                        P-value                           0.0000
Time periods:                       8   Distribution:                 F(10,3805)
Avg Obs:                       545.00
Min Obs:                       545.00
Max Obs:                       545.00

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
expersq       -0.0052     0.0007    -7.3612     0.0000     -0.0066     -0.0038
married        0.0467     0.0183     2.5494     0.0108      0.0108      0.0826
union          0.0800     0.0193     4.1430     0.0000      0.0421      0.1179
d81            0.1512     0.0219     6.8883     0.0000      0.1082      0.1942
d82            0.2530     0.0244     10.360     0.0000      0.2051      0.3008
d83            0.3544     0.0292     12.121     0.0000      0.2971      0.4118
d84            0.4901     0.0362     13.529     0.0000      0.4191      0.5611
d85            0.6175     0.0452     13.648     0.0000      0.5288      0.7062
d86            0.7655     0.0561     13.638     0.0000      0.6555      0.8755
d87            0.9250     0.0688     13.450     0.0000      0.7902      1.0599
const          1.4260     0.0183     77.748     0.0000      1.3901      1.4620
==============================================================================

F-test for Poolability: 9.1568
P-value: 0.0000
Distribution: F(544,3805)

Included effects: Entity